# First, ignore everything
*
# Now, whitelist directory you wanted
!ch03/
!ch04/
!ch06/
!ch07/
!ch08/
!ch09/
!land_of_lisp/
# And all the file types you're interested in.
!*.lisp
!*.org
# Add all the files within the org-html-themes
#!org-html-themes/*.*