# First, ignore everything
*
# Now, whitelist directory you wanted
!ch03/
!ch04/
!ch06/
!ch07/
!ch08/
# And all the file types you're interested in.
!*.lisp

# Add all the files within the org-html-themes
#!org-html-themes/*.*